* {
    background: hsl(202, 69%, 10%);
}

a {
    text-decoration: none;
    color: inherit;
    background: inherit;
}

.navbar {
    border-bottom: hsl(202, 95%, 38%);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navelements {
    border-radius: 5px;
    text-align: center;
    width: 25%;
    height: 30px;
    margin: 0;
    transition: background 1s ease;
    font-size: 20px;
    text-decoration: none;
}

.navelements:hover {
    background: hsl(201, 74%, 82%);
}

#name {
    color: white;
    font-size: 100px;
    position: relative;
    top: -250px;
    left: 550px;
    z-index: 1;
    display: inline-block;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
}