* {
    background: hsl(202, 69%, 10%);
}

.navbar {
    border-bottom: hsl(202, 95%, 38%);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 40px;
    width: 100%;
}

.navelements {
    border-bottom: hsl(202, 95%, 38%);
    text-align: center;
    width: 25%;
    margin: 0;
    transition: background 1s ease;
    font-size: 20px;
}

.navelements:hover {
    background: hsl(201, 74%, 82%);
}